.card-header {
  height: 60px; 
  display: flex;
  align-items: center;
  overflow: hidden;
}

.card-header h6 {
  margin: 0;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 100%;
}