<div class="container mt-5 pt-3">
  <div class="row">
    <div class="col-12">
      <h1 class="text-center mb-4">{{ categoriaNombre }}</h1>
      <hr>
    </div>
  </div>
  
  <!-- Cards de productos (paginados) -->
    <div class="row">
      <div *ngFor="let producto of productos | paginacion:currentPage:itemsPerPage" 
           class="col-lg-3 col-md-4 col-sm-6 mb-4">
        <app-card [producto]="producto"></app-card>
      </div>
    </div>

    <!-- Paginación -->
    <div class="row mt-4">
      <div class="col-12">
        <app-pagination 
          [totalItems]="totalItems"
          [itemsPerPage]="itemsPerPage"
          [currentPage]="currentPage"
          [maxVisiblePages]="5"
          (pageChanged)="onPageChanged($event)">
        </app-pagination>
      </div>
    </div>
  
  <ng-template #noProductos>
    <div class="row">
      <div class="col-12 text-center">
        <div class="alert alert-info mt-5">
          <h4><i class="fas fa-info-circle"></i> No hay productos disponibles</h4>
          <p>Esta categoría no tiene productos disponibles en este momento.</p>
        </div>
      </div>
    </div>
  </ng-template>
</div>
<app-modal-compra></app-modal-compra>