:host {
  display: block;
  position: relative;
}

footer {
  border-top: 1px solid rgba(0,0,0,.125);
  padding: 0.5rem 0;  /* Reduce la altura vertical */
  font-size: 0.8rem;  /* Reduce el tamaño de letra */
}

.footer-content {
  display: flex;
  align-items: center;  /* Alinea verticalmente */
  gap: 1.5rem;  /* Espacio entre elementos */
}

.footer-content p {
  margin-bottom: 0;  /* Elimina el margen inferior de los párrafos */
}