<nav class="navbar navbar-expand-lg bg-secondary fixed-top" data-bs-theme="light">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">
            <img src="logo_ferremas.png" alt="" height="40" class="logo me-2">
        </a>

        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor01"
            aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarColor01">
            <ul class="navbar-nav me-auto">
                <li class="nav-item">
                    <a class="nav-link" [routerLink]="['/']" routerLinkActive="active"
                        [routerLinkActiveOptions]="{exact: true}">Home</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button"
                        aria-haspopup="true" aria-expanded="false">Categorías</a>
                    <div class="dropdown-menu">
                        <a *ngFor="let categoria of categorias" class="dropdown-item"
                            [routerLink]="['/categoria', categoria.id]">
                            {{ categoria.nombre }}
                        </a>
                    </div>
                </li>
            </ul>
            <div class="dropdown me-3">
                <button class="btn btn-outline-light dropdown-toggle border-0" type="button" data-bs-toggle="dropdown"
                    aria-expanded="false">
                    <i class="fas fa-money-bill-wave me-1"></i>
                    {{ selectedDivisa }}
                </button>
                <ul class="dropdown-menu">
                    <li *ngFor="let currency of availableDivisas">
                        <a class="dropdown-item" (click)="onDivisaChange(currency.code)"
                            [class.active]="currency.code === selectedDivisa">
                            <i class="fas fa-check me-2"
                                [style.visibility]="currency.code === selectedDivisa ? 'visible' : 'hidden'"></i>
                            {{ currency.code }} - {{ currency.name }}
                        </a>
                    </li>
                </ul>
            </div>
            <button class="btn btn-outline-light position-relative border-0 me-3" type="button" data-bs-toggle="modal"
                data-bs-target="#modalCarrito">
                <i class="fas fa-shopping-cart fa-xl"></i>
                <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger"
                    *ngIf="cantidadCarrito > 0">
                    {{ cantidadCarrito }}
                    <span class="visually-hidden">productos en carrito</span>
                </span>
            </button>
            <!-- <form class="d-flex">
                <input class="form-control me-sm-2" type="search" placeholder="Search">
                <button class="btn btn-secondary my-2 my-sm-0" type="submit">Search</button>
            </form> -->
        </div>
    </div>
</nav>