.home-page {
  width: 100%;
  overflow-x: hidden;
}

.hero-section {
  width: 100vw; 
  margin-left: calc(50% - 50vw); 
  position: relative;
}

.productos-destacados {
  background-color: #ffffff;
}

.prefooter-section {
  width: 100vw; 
  margin-left: calc(50% - 50vw); 
}

@media (max-width: 768px) {
  .hero-section {
    margin-left: calc(50% - 50vw);
  }
}